################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Webgentle.BookStore/Webgentle.BookStore/wwwroot/lib
