
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <img src="~/images/16187.JPG"  class="logo" alt="logo">
    
    <h1> this is index page hello G </h1>
    <img src="~//MyStaticFiles/16187.JPG" alt="dummy" />
    <p>this is para G </p>
</body>
</html>
