
@{
    //Layout = "";
    Layout = "_Layout";
}

<img src="~/images/Aarti-46.png" class="logo" alt="logo" />
<h1 class="h1"> Welcome To Home Page </h1>
 

    
@*<!DOCTYPE html>*@

@*<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link href="~/css/StyleSheet.css" rel="stylesheet" />
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body class="container">

        <img src="~/images/Aarti-46.png" class="logo" alt="logo"/>
        <input type="button" value="Click Me" class="btn-danger">
        <h1 class="h1"> this is index page hello G </h1>

        <p>this is para G </p>
    </body>
    <script src="~/lib/jquery/jquery.js"></script>
    </html>
    <script>
        $(document).ready(function () { alert("page loaded alert"); });
    </script>*@